/* general */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;

    font-size: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #container{
    display: flex;
    justify-content: center;
    align-items: center;
} */


.box{
    display: inline-block;
    background-color: blueviolet;
}

.score{

}

.right_answer{
    width: 20px;
}